# Created by .ignore support plugin (hsz.mobi)

.idea
.iml

cmake-build-debug

*.o
*.d
*.crf
*.lst
*.axf
*.hex
*.htm
*.lnp
*.sct
*.map
*.dep
*.__i
*._ia

generator/Src/usbd_desc\.c

generator/Src/usbd_cdc_if\.c

generator/Src/usb_device\.c

generator/Src/stm32f1xx_hal_msp\.c

generator/Src/stm32f1xx_hal_timebase_TIM\.c

generator/Src/stm32f1xx_it\.c

generator/Src/system_stm32f1xx\.c

generator/Src/usbd_conf\.c

generator/Inc/stm32f1xx_hal_conf\.h

generator/Inc/stm32f1xx_it\.h

generator/Inc/usb_device\.h

generator/Inc/usbd_cdc_if\.h

generator/Inc/usbd_conf\.h

generator/Inc/usbd_desc\.h

generator/MDK-ARM

generator/Middlewares/

generator/Drivers/
